.btn {
  position: relative;
  width: 33%;
  height: 50px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  box-sizing: border-box;
  border-left: 3px solid rgba(14, 255, 223, 0);
  border-right: 3px solid rgba(14, 255, 223, 0);
  box-shadow: 1px 1px 8px black;
  cursor: pointer;
}

.btn:hover {
  border-left: 3px solid rgb(35, 204, 182);
  border-right: 3px solid rgb(35, 204, 182);
  box-sizing: border-box;
  background-color: rgb(36, 36, 36);
  color: whitesmoke;
}

.btn:active {
  border-left: 3px solid rgb(90, 233, 46);
  border-right: 3px solid rgb(90, 233, 46);
  box-shadow: none;
}

.selected {
  background-color: rgb(94, 94, 94);
  color: whitesmoke;
  border: 1px solid black;
  cursor: auto;
}

.selected:hover {
  background-color: rgb(94, 94, 94);
  color: whitesmoke;
  border: 1px solid black;
  cursor: auto;
}

.selected:active {
  box-shadow: 1px 1px 8px black;
}

@media only screen and (min-width: 1365px) {
  .btn {
    max-width: 149.5px;
    min-width: 149.5px;
  }
}

@media only screen and (min-width: 941px) and (max-width: 1364px) {
  .btn {
    max-width: 159.5px;
    min-width: 159.5px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 940px) {
  .btn {
    max-width: 166.4px;
    min-width: 166.4px;
  }
}

@media only screen and (min-width: 531px) and (max-width: 768px) {
  .btn {
    max-width: 156.4px;
    min-width: 156.4px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 530px) {
  .btn {
    max-width: 160px;
    min-width: 140px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 480px) {
  .btn {
    max-width: 130px;
    min-width: 110px;
    font-size: 15px;
  }
}
