.gameListWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 1050px) {
  .gameListWrapper {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1501px) {
  .gameListWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
