.wrapper {
  margin: 30px;
  width: 100vh;
}

.table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  min-width: 567px;
  max-width: 1153px;
}

@media screen and (max-width: 1200px) {
  .table {
    grid-template-columns: 1fr;
    width: 567px;
  }
}

.divisionWrapper {
  box-shadow: 1px 3px 10px rgb(0, 0, 0);
  border-radius: 5px;
  border: 1px solid rgba(95, 95, 95, 0.815);
}

.divisionTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  height: 40px;
  width: 100%;
  background-color: rgb(170, 170, 170);
  border-radius: 5px 5px 0 0;
}

.tableRow {
  display: flex;
  align-items: center;
  font-size: 19px;
  border-bottom: 1px solid rgb(133, 133, 133);
  height: 40px;
}
.tableRow:hover {
  background-color: rgb(129, 230, 216);
}
.tableRow:last-child {
  border-bottom: none;
}

.tableRow span {
  display: flex;
  justify-content: center;
  padding: 3px;
}

span.teamName {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 280px;
  font-weight: bold;
}
.gamesPlayed {
  width: 30px;
}

.teamWins {
  width: 30px;
}
.teamWinsOT {
  width: 30px;
}
.teamLosses {
  width: 30px;
  margin-right: 8px;
}
.teamGoalsScored {
  width: 40px;
}
.teamGoalsAgainst {
  margin-left: -12px;
  padding-left: 0;
  width: 40px;
}
.teamPoints {
  display: flex;
  align-items: center;
  width: 40px;
  margin-right: 3px;
  font-weight: bold;
  background-color: rgb(198, 216, 218);
  height: 34px;
  border-radius: 5px;
}

.teamLogo {
  height: 40px;
  width: 40px;
  padding: 0 10px 0 5px;
}

.statsInfo {
  display: flex;
  align-items: center;
  font-size: 14px;
  background-color: rgb(95, 95, 95);
  color: whitesmoke;
  border-top: 1px solid rgb(58, 58, 58);
  border-bottom: 1px solid rgb(58, 58, 58);
}
.teamStatInfo {
  width: 285px;
  padding-left: 10px;
}

.gamesPlayedStatInfo {
  padding-left: 4px;
}
.teamWinsStatInfo {
  padding-left: 27px;
}

.teamWinsOTStatInfo {
  padding-left: 23px;
}
.teamLossesStatInfo {
  padding-left: 22px;
}
.teamGoalsStatInfo {
  padding-left: 46px;
}
.teamPointsStatInfo {
  padding-left: 45px;
}

.footnote {
  padding-top: 20px;
  font-size: 14px;
}
